*{
    height: 450px;
    width: 350px;
}

body {
    background-image: url(/img/waterfall.gif);
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 75%;
    text-align: center;
}

.blocked-sites {
    position: absolute;
    font-size: 16px;
    left: 50%;
    transform: translate(-50%, -10%);
}

#restricted-page {
    flex-direction: column;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    background-color: white;
    display: none;
    overflow: hidden;
}

#restricted-title {
    padding-top: 30px;
    font-size: 24px;
    color: gray;
    height: 15%;
    vertical-align: middle;
    margin-bottom: -20px;
}

#restricted-subtitle {
    font-size: 14px;
    color: gray;
    height: 15%;
}
