

body {
    background-image: url(/img/Changing-ring.gif);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 500px;
    width: 350px;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 75%;
    text-align: center;
}