*{
    height: 450px;
    width: 350px;
}

body {
    background-image: url(/img/waterfall.gif);
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 75%;
    text-align: center;
}

.blocked-sites {
    position: absolute;
    font-size: 16px;
    left: 50%;
    transform: translate(-50%, -10%);
}

#restricted-page {
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    background-color: white;
    display: none;
    overflow: hidden;
}

#restricted-title {
    padding-top: 30px;
    font-size: 24px;
    color: gray;
    height: 15%;
    vertical-align: middle;
    margin-bottom: -20px;
}

#restricted-subtitle {
    font-size: 14px;
    color: gray;
    height: 15%;
}
/* Jacob Code Starts */
#blockform-div {
    z-index:1000;
    height: 200px;
}

#blockform {
    width: 80%;
    height: 30px;
}

#blockbutton {
    width: 80%;
    height: 30px;
    background-color: rgb(255, 162, 0);
    border: 0px;
    color: white;
}

#restrictedurl-container {
    display: flex;
    position: relative;
    flex-direction: column;
    /* background-color: aqua; */
    width: 90%;
    border-radius: 0.25em;
    z-index: 999;
    overflow-x: hidden;  
    overflow-y: auto;
    margin: auto;  
    max-height: 50%;
    margin-left: 40px;;
}


.banned-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    color: black;
    height: 25px;
    border-top: 1px gray solid;
    align-items: center;
}

.restricted-div {
    height: 100%;
    margin-top: 3px;
}

button.remove-icon {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color:#e78a31;
    color: white;
    border: none;
    z-index: 1001;
}

.remove-icon:hover {
    cursor: pointer;
}

#logo-sm {
    width: 240px;
    height: 146px;
    margin-bottom: 200px;
}
/* Jacob Code Ends */