html{
    background-image: url('img/ocean_bg.jpg');
    background-size: 100% 100%;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    height: 50px;
    vertical-align: middle;
}

.bottom-links{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 50px;
    width: 90%;
    justify-content: space-evenly;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.redirect {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    vertical-align: middle;
}

.redirect:hover{
    cursor: pointer;
}

#go-back {
    background-color: #e78a31;
    border: none;
    border-radius: 0.25em;
    text-align: center;
}

#go-ahead {
    background-color: #e78a31;
    border: none;
    border-radius: 0.25em;
    text-align: center;
}